.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  border-color: #291c0e;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #291c0e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #6e473b;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.error-message {
  margin-top: 15px;
  color: red;
  text-align: center;
}

/* Estilo para el enlace de login */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #291c0e;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
