
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .text-section {
    flex: 1;
    padding: 5% 10%;
    padding: calc(2% + 1vw) calc(5% + 2vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-section h1 {
    font-size: 3rem;
    font-size: calc(1.5rem + 1vw);
    color: #333;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .text-section h1 span {
    color: var(--color-tertiary);
  }

  .text-section p {
    font-size: 1.2rem;
    font-size: calc(1rem + 0.5vw);
    color: #555;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    gap: 15px;
  }

  .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .buttons .primary {
    background-color: var(--color-surface);
    color: var(--color-light);
  }

  .buttons .primary:hover {
    background-color: var(--color-text-light);
  }

  .buttons .secondary {
    background-color: var(--color-tertiary);
    color: white;
  }

  .buttons .secondary:hover {
    background-color: var(--color-light);
  }

  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    padding: calc(2% + 1vw) calc(5% + 2vw);
    position: relative;
  }

  .image-section .image-frame {
    width: 90%;
    max-width: 500px;
    aspect-ratio: 1;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
  }

  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*---------- SECTION SOBREMI -------------- */
  .sobreMi{
    display: flex;
    margin: 0 auto;
    margin-top: 7%;
    background-image: url("https://images.unsplash.com/photo-1734808215019-5e37cae896b4?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }

  .backgroundAboutMe{
    margin-left: 20%;
    margin-top: 7%;
    padding: 5%;
    background-color: rgba(128, 128, 128, 0.87);
    color: white;
    max-width: 630px;
    height: 80%;
  }

  .green{
    border-top: 5px solid var(--color-surface);
    width: 50px;
    margin-bottom: 3%;

  }

  .firstParragraf{
    display: block;
    margin-bottom: 5%;
    font-weight: 500;
  }

  /*---------- SECTION DE MIS REDES SOCIALES -------------- */
  .redesSociales {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }

  .container-redes {
    max-width: 800px;
    margin: 0 auto;
  }

  .redes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .red-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .red-social:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .red-social img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .red-social span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .hrRedes{
    border-top: 5px solid var(--color-surface);
    width: 100px;
    margin-bottom: 3%;

  }

  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }

    .text-section {
      padding: 5% 10%;
    }

    .image-section {
      padding: 5% 10%;
    }
  }

  @media (max-width: 992px) {
    .container {
      flex-direction: column;
    }

    .text-section {
      padding: 5% 10%;
    }

    .image-section {
      padding: 5% 10%;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .text-section {
      padding: 5% 10%;
    }

    .image-section {
      padding: 5% 10%;
    }
  }

  @media (max-width: 576px) {
    .menu {
      display: none;
    }

    .menu-button {
      display: block;
    }
  }
